<% @items.each do |item|%>
  <a href='/genres/<%= item.seo%>'><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span> <%= item.title%></a><br/>
<% end %>

<% content_for(:title, "Книги по жанрах") %> 