<h2 class="section_title">Цитати:</h2>
<%= render partial: "quotes/item", collection: @items, as: :quote  %>
<%= render partial: "layouts/paginator" %>

<div class="bottom_description">
<p>
  На цій сторінці онлайн бібліотеки Ви можете знайти влучні вислови зібрані переважно з книг, які доступні в каталозі цього сайту. 
  Це підбірка цитат і афоризмів українською мовою на різні теми: філософія, історія, біологія, медицина, психологія, література... про людей, про життя, про час... і тд...
</p>
</div>
 

<%= render partial: "layouts/book_search_form" %>

<% content_for(:title, 'Цитати з книг українською') %>
<% content_for(:description, 'Цитати з книг українською мовою з посиланнями на джерела.') %>
