<div class="row">
  <h2 class="section_title">Статті:</h2>
  <%= render partial: "bibliotheca/articles/item", collection: @items, as: :item  %>
  <%= render partial: "bibliotheca/shared/paginator" %>
</div> 

<% content_for(:title, 'Підбірки книг') %>