<h2><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <%= @author.full_name %></h2>

<%= render partial: "books/list", collection: @items, as: :item  %>

<%= render partial: "layouts/paginator" %>

<% content_for(:title, "#{@author.full_name}. Скачати книги безкоштовно або купити з доставкою") %> 