<h3>Автори</h3>
<%= render partial: "bibliotheca/authors/list", collection: @items, as: :item  %>

<%= render partial: "bibliotheca/shared/paginator" %>

<%= render partial: "bibliotheca/shared/book_search_form" %>
