<% @items.each do |item|%>
  <a href='/tags/<%= item.seo%>' class="label label-default"><%= item.title%></a>
<% end %>
<%= render partial: "layouts/paginator" %>
<% content_for(:title, 'Книги по тегах') %> 