<% @items.each do |item|%>
  <a href='/tags/<%= item.seo%>' class="label label-default"><%= item.uk%></a>
<% end %>

<% content_for(:title, 'Книги по тегах') %>

<%= render partial: "layouts/book_search_form" %> 