<script>
  window.tags_list = <%== @items.to_json %>;
</script>

<div class="input-group">
  <input id="tags_autocomplete" class="form-control" placeholder="Пошук тегів:">
</div>

<div id="tags_results"></div>
<hr/>

<% @items.each do |item|%>
  <a href='/tags/<%= item.seo%>' class="label label-default"><%= item.uk%></a>
<% end %>

<% content_for(:title, 'Книги по тегах') %>

<%= render partial: "layouts/book_search_form" %> 