<div class="row">
  <h2 class="section_title">Помилка!</h2>
  <p style="text-align:center">Спробуйте оновити сторінку.</p>
</div> 
<%= render partial: "layouts/book_search_form" %>

<% content_for(:title, "500") %> 
