<div class="clearfix"></div>
<div class="row book_search_form">
  <div class="row">
    <div class="col-lg-4 block_center">
      <h2>пошук книг</h2>
      <form action="/search" method="get">
          <div class="input-group">
            <input name="word" value="" required type="text" class="form-control" placeholder="введіть назву книги або ім'я автора">
            <span class="input-group-btn">
              <input type="submit" value="Шукати!" class="btn btn-default search_btn" type="button">
            </span>
          </div>
      </form>
    </div>

  </div>
  <div class="row">
    <div class="col-lg-6 block_center">
      <p class="search_description">За допомогою пошуку Ви можете знайти книги в електронному (txt, rtf, doc, pdf, fb2, epub, mobi, djvu) та паперовому форматі будь-які книги доступні в інтернеті українською мовою. </p>
    </div>
  </div>
</div>

