<!DOCTYPE html>
<html>
<head>
  <title>LibAgreagator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>


<hr/>
<div>
  <a href="/">Головна</a>
  <a href="/genres">Жанри</a>
  <a href="/tags">Теги</a>
  <a href="/authors">Автори</a>
</div>
</body>
</html>
